@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap');

$white: #fff;
$black:#000;
$bg-gradient: linear-gradient(115deg, rgba(50,108,255,1) 0%, rgba(38,255,242,1) 93%);
$bg-gradient-save: rgb(50,108,255);
html {
   font-size: 10px;
}
body {
   background-color: #000;
   color: #fff;
   font-size: 16px;
   //font-family: 'Marcellus', serif;//
   font-family: 'Mulish', sans-serif;
}
button {
   &:focus {
      outline: none;
   }
}
.container {
   max-width: 144rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   margin: 0 auto;
   
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 144rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   margin: 0 auto;
}
.nav {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
   &-item {
      margin: 0px 2.5rem
   }
   &-link {
      text-decoration: none;
      font-weight: 700;
      color: rgba($white,0.5);
      transition: 0.2s ease color;
      &:hover {
         color: rgba($white,1);
      }
      &::after {
         content: '';
         opacity: 0;
         display: block;
         width: 100%;
         height: 2px;
         margin-top: 5px;
         background: $bg-gradient-save;
         background: $bg-gradient;
         border-radius: 50px;
      }
      &.active {
         color: rgba($white,1);
         &::after {
            opacity: 1;
         }
      }
   }
}
.control {
   display: flex;
   align-items: center;
   list-style-type: none;
   padding-left: none;
   &-item {
      margin-left: 75px;
   }
   &-btn {
      background-color: transparent;
      border: none;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      &_search {
         background-image: url(images/search.svg);
         width: 18px;
         height: 18px;
      }
      &_notice {
         background-image: url(images/notice.svg);
         width: 20px;
         height: 20px;
      }
      &_account {
         background-image: url(images/account.svg);
         width: 20px;
         height: 19px;
      }
   }
}
.section {
   padding-top: 50px;
   &__h2 {
      font-size: 28px;
      line-height: 20px;
      position: relative;
      padding-left: 20px;
      padding-right: 30px;
      font-weight: 700px;
      padding-bottom: 22px;
      display: inline-block;
      &::before {
         content: '';
         display: block;
         width: 8px;
         height: 35px;
         background: $bg-gradient-save;
         background: $bg-gradient;
         border-radius: 50px;
         position: absolute;
         left: 0;
         top: calc(50% - 30px);
      }
      &-link {
         color: $white;
         text-decoration: none;
      }
   }
   &__btn {
      border: none;
      border-radius: 100px;
      padding: 15px 30px;
      font-family: 'Mulish', sans-serif;
      font-weight: 800;
      cursor: pointer;
      box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
      background: $bg-gradient-save;
      background: $bg-gradient;
      color: $white;
      transition: 0.2s ease  box-shadow;
      margin-top: 55px;
      &:hover {
         box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
      }
   }
}
.section-banner {
   border-bottom: 1px solid #2F2E2E;
   position: relative;
   overflow: hidden;
   &_image {
      height: 100%;
      z-index: -1;
      position: absolute;
      right: 0;
      margin-right: 20px;
      margin-left: 20px;
      
   }
   
}
.banner {
   max-width: 562px;
   padding-top: 122px;
   padding-bottom: 203px;
   box-shadow: 100px 0px 100px #000000;
   background-color: $black;
   &__title {
      font-family: 'Marcellus', serif;
      line-height: 75px;
      font-size: 80px;
   }
   &__text {
      color: #C2C2C2;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 33px;
   }
   &-info {
      font-weight: 800;
      margin-bottom: 25px;
      &__year {
         margin-right: 18px;
      }
      &__age {
         margin-right: 18px;
         position: relative;
         width: 60px;
         text-align: center;
         display: inline-block;
         &::before {
            content: '';
            display: block;
            width: 100%;
            height: 24px;
            background-image: url(images/age.svg);
            background-repeat: no repeat;
            background-size: cover;
            position: absolute;
            top: calc(50% - 12px);
            left: 0;
            right: 0;
         }
      }
      &__time {
         margin-right: 46px;
      }
      &__rating {
         &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 15px;
            background-image: url(images/star.svg);
            margin-left: 10px;
         }
      }
   }
   &-control {
      &_btn {
         background-color: transparent;
         border: none;
         border-radius: 100px;
         padding: 15px 30px;
         font-family: 'Mulish', sans-serif;
         font-weight: 800;
         cursor: pointer;
      }
      &_btn-main {
         box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
         background: $bg-gradient-save;
         background: $bg-gradient;
         color: $white;
         position: relative;
         padding-left: 59px;
         transition: 0.2s ease  box-shadow;
         &:hover {
            box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
         }
         &::after {
            content: '';
            width: 14px;
            height: 18px;
            display: block;
            background-image: url(images/play.svg);
            position: absolute;
            left: 30px;
            top: calc(50% - 9px);
         }
      }
      &_btn-more {
         background-color: $white;
         color: #323232;
         margin-left: 30px;
         transition: 0.2s ease background-color, 0.2s ease color;
         &:hover {
            background-color: transparent;
            color: $white;
         }
      }
   }
}
.movies {
   display: flex;
   align-items: center;
   justify-content: space-between;
   &-item {
       box-shadow: 0px 0px 0px rgba(44, 176, 249, 0.0);
      transition: .2s ease box-shadow;
       border-radius: 20px;
       flex: 0 0 14%;
      &:hover {
         box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
      }
   }
   &__link {
     overflow: hidden;
     position: relative;
     width: 100%;
     height: 309px;
     display: block;
     border-radius: 20px;
   }
   &__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      object-fit: cover;
   }
}
.genres {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   text-align: center;
   margin-top: 3px;
   &-item {
      box-sizing: border-box;
      padding: 48px 10px 34px;
      flex: 0 0 23.7%;
      border-radius: 20px;
      margin-bottom: 30px;
      &_romance {
         background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
      }
      &_drama {
         background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
      }
      &_historical {
         background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
      }
      &_action {
         background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
      }
      &_sci-fi {
         background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
      }
      &_horror {
         background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
      }
      &_comedy {
         background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
      }
      &_documentary {
         background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
      }
   }
   &-icon {
      height: 80px;
      position: relative;
      overflow: hidden;
   }
   &__image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      object-fit: cover;
   }
   &__title {
      font-size: 28px;
      font-weight: 700;
      margin: -2px 0px 0px 0px;
      padding-top: 5px;
   }
}
.actors {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   &-item {
      flex: 0 0 14%;
   }
   &__link {
      overflow: hidden;
      position: relative;
      width: 190px;
      height: 190px;
      display: block;
      border-radius: 100%;
    }
    &__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      object-fit: cover;
      width: 190px;
      height: 190px;
    }
}
.marketing {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   &-item {
      border-radius: 20px;
      flex: 0 0 50%;
      &:first-child{
         .marketing__link {
            border-radius: 20px 0 0 20px;
         }
      }
      &:last-child{
         .marketing__link {
            border-radius: 0 20px 20px 0;
         }
      }
   }
   &__link {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 341px;
      display: block;
    }
    &__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      object-fit: cover;
    }
}
.offer {
   max-width: 1224px;
   margin:0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-image: url(images/offer.png);
   padding: 72px 107px 72px 57px;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 20px;
   margin-top: 70px;
   margin-bottom: 121px;
   box-sizing: border-box;
   &__title {
      line-height: 1;
      font-size: 64px;
      font-weight: 700;
      max-width: 800px;
      margin: 0;
   }
   &__btn {
      border: none;
      border-radius: 100px;
      padding: 15px 30px;
      font-family: 'Mulish', sans-serif;
      font-weight: 800;
      cursor: pointer;
      box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
      background: $bg-gradient-save;
      background: $bg-gradient;
      color: $white;
      transition: 0.2s ease  box-shadow;
      &:hover {
         box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
      }
   }
}
footer {
   background-color: #101012;
   padding: 70px 0 50px;
}
.footer {
   display: flex;
   justify-content: space-between;
   max-width: 144rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   margin: 0 auto;
   &-list {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      &__item {
         margin-bottom: 20px;
      }
      &__link {
         font-size: 18px;
         color: #C2C2C2;
         text-decoration: none;
         font-weight: 600;
      }
   }
}